[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pylint = "*"
flask-login = "*"
flask-migrate = "*"
flask-blueprint = "*"
flask-cors = "*"
gunicorn = "*"
psycopg2-binary = "*"
yelpapi = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.8"
