# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#TODO: add .env file for tokens
# .env

# #FLASK API KEY
# YOUR_SECRET_KEY_HERE = db34ee5752b1bd504abb0bdd8da928d8

# #YELP TOKEN INFO
# YOUR_YELP_CLIENT_ID = zkvK1OLHC7kX63dH-pk5GQ
# YOUR_YELP_API_KEY = 8g-yyEi_zD7gTsiEegmXWrTx-0_M8SBDkWrw-vVHzMbeI4IzToQjj57lNuzlvhCSDgUZZKiJfgbqmTDDGfQsxRzB8-F59cr_kSXrQ1mIztVn0YAAMQrIQTke0_YNX3Yx